name: build and run containers

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: kjell

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker build image
        run: docker build -t build_container .

      - name: Run Docker build image
        run: docker run --name build_container build_container

      - name: copy package to drive
        run: docker cp build_container:/app/dist .

      - name: rename package
        run: mv dist/* dist/F1DriverData.whl

      - name: copy setup file
        run: docker cp build_container:/app/setup.py

      - name: extract version from setup file
        run: version=$(grep "version=" setup.py | awk -F"'" '{print $2}')
    

      
