name: build and run containers

on:
  push:
    branches:
    - '*'

jobs:
  build:
    runs-on: kjel
    env:
      VERSION: '1.0'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: cleaning containers
        run: docker container rm -f build_container

      - name: cleaning images
        run: docker image rm -f build_container_image

      - name: prune images
        run: docker image prune

      - name: Build Docker build image
        run: docker build -t build_container_image .

      - name: Run Docker build image
        run: docker run --name build_container build_container_image
      
      - name: clear versions on drive
        run: rm -rf /home/svcgithub/dist

      - name: copy package to drive
        run: docker cp build_container:/app/dist .

      - name: build Docker run image
        run: docker build -t run_container_image -f run_container/Dockerfile .

      - name: add tag to image
        run: docker image tag run_container_image run_container_image:$VERSION

      - name: push docker run image
        run: docker push run_container:$VERSION

      
