name: build and run containers

on:
  push:
    branches:
    - '*'

jobs:
  build:
    runs-on: kjel

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: cleaning containers
        run: docker container rm -f build_container

      - name: cleaning images
        run: docker image rm -f build_container_image

      - name: prune images
        run: docker image prune

      - name: Build Docker build image
        run: docker build -t build_container_image .

      - name: Run Docker build image
        run: docker run --name build_container build_container_image

      - name: copy package to drive
        run: docker cp build_container:/app/dist / 

      - name: rename package
        run: mv /dist/* /dist/F1DriverData.whl

      - name: copy setup file
        run: docker cp build_container:/app/setup.py .

      - name: extract version from setup file
        run: version=$(grep "version=" setup.py | awk -F"'" '{print $2}')
    
      - name: build Docker run image
        run: docker build -t run_container_image -f run_container/DockerFile .

      - name: add tag to image
        run: docker image tag run_container_image run_container_image:$version

      - name: push docker run image
        run: docker push 10.0.40.160:5000/run_container:$version


      
