on:
  push:
    branches:
      - master
      - release/*
  workflow_dispatch:
jobs:
  my_job:
    name: Push Run Container
    runs-on: self-hosted
    steps:
      - name: Build Docker build image
        run: docker build -t app_build .

      - name: Remove docker container
        run: docker rm build_container

      - name: Run build container
        run: 
          docker create --name build_container app_build
          docker start build_container
        
      - name: Extract build artifacts
        run:
          mkdir -p ./artifacts
          docker cp build_container:/app/build/ ./artifacts

      - name: Build another Docker image with artifacts
        run: docker build -t run_image_f1_dd -f Dockerfile.run .

      - name: Push run image to registry
        run: docker image tag run_image_f1_dd 10.0.40.160:5000/run_image_f1_dd
          docker image push 10.0.40.160:5000/run_image_f1_dd
