name: Create mkdocs

on:
  push:
    branches:
      - master
      - create-mkdocs-pipeline

jobs:
  make_mkdocs:
    runs-on: self-hosted
    
    steps: 
      - uses: actions/checkout@v4
      
      - name: Build Docker image
        run: docker build -t mkdocs_image -f mkdocs_documentation/Dockerfile .

      - name: Remove docker container
        run: docker rm mkdocs_container || true 

      - name: Run Docker container
        run: docker run --name mkdocs_container mkdocs_image

      - name: Extract website
        run: docker cp mkdocs_container:app/site/ ./website

      - name: set ssh keys
        run: ssh-keyscan 10.0.40.161 > tmpknownhosts           
             ssh -o UserKnownHostsFile=tmpknownhosts fhvdevops@10.0.40.161 "rm -r /var/www/html/2"
            

      - name: Push website to server
        run: scp -o UserKnownHostsFile=tmpknownhosts -r ./site fhvdevops@10.0.40.161:/var/www/html/2           
             rm tmpknownhosts
 
