name: Create pandocs pdf

on:
  push:
    branches:
      - '*'

jobs:
  make_pandoc:
    runs-on: self-hosted
    steps: 
      - uses: actions/checkout@v4

      - name: download pandoc docker image
        run: docker pull pandoc/latex

      - name: create pdf from index.md
        run:  docker run --rm --volume "$(pwd):/data" --user $(id -u):$(id -g) pandoc/latex ./mkdocs_documentation/docs/index.md -o documentation.pdf

      - name: set ssh keys
        run: ssh-keyscan 10.0.40.161 > tmpknownhosts           
    
      - name: Push website to server
        run: |
          scp -o UserKnownHostsFile=tmpknownhosts documentation.pdf fhvdevops@10.0.40.161:/var/www/html/2/          
          rm tmpknownhosts
