name: Run Tests

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: kjel
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      

      - name: Build Docker image
        run: docker build -t tests_container .
      
      - name: Run Docker container
        run: docker run tests_container
