name: Run Tests

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.12
          
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest
