name: Run Sonar scanner

on:
  push:
    branches:
      - '*'

jobs:
  run_scanner:
    runs-on: self-hosted
    steps: 
      - uses: actions/checkout@v4

      - name: download sonar docker image
        run: docker pull sonarsource/sonar-scanner-cli

      - name: test
        run: ls

      - name: run sonar scanner
        run:  | 
          projPath=$(pwd)
          docker run --rm -e SONAR_HOST_URL="http://10.0.40.161:9000" -e SONAR_SCANNER_OPTS="-Dsonar.projectKey=team2" -e SONAR_TOKEN="sqp_729ba7be78e2daa8b9800ad096a37ca178b1a283" -v "${projPath}:/usr/src" sonarsource/sonar-scanner-cli
          
